@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  min-width:290px;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
#header{
	background-color:white;
	width:100%;
	height:90px;
	float:left;
-webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
	
}

body {

  min-width:290px;
}

#bannerprincipal{
	background-color:gray;
	width:100%;


	
}
#contentbanner{
	width:100%;
	margin:auto;
}

#titlebann{


	width:100%;
	font-size:30px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	color:white;
	
	
	
}
#b1{

width:100%;

margin-top:20px;

border-radius: 5px;

background-color:#f3f2f2;
float:left;	
}
#b11{

width:100%;
padding-top:10px;

border-radius: 5px;
color:#333;

float:left;	
}

#imgsegmento{
	display:none;
	
}
#alinharicons{
	float:left;
	width:100%;
	
}
#icon1{
	float:left;
	width:20%;
	
	
}
#icon2{
	float:left;
	width:33%;
	
	
}
#icon13{
	float:left;
	width:33%;
	
	
}
#icon4{
	float:left;
	width:33%;
	
	
}
.rightarrowb1{display:none}
.leftarrowb1{display:none}
#icon5{
	float:left;
	width:33%;
	
	
}
#titleseg1{
	width:100%;
	padding-left:5%;
	padding-right:5%;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 500;
	margin-top:20px;


	
}
#alignicons{float:left; width:100%; margin-bottom:40px;}
#titleseg2{
	width:100%;
margin-top:20px;

	font-size:15px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	padding-bottom:50px;
	padding-left:5%;
	padding-right:5%;


	
}

#solucao01{
	width:100%;
	height:500px;
	float:left;
	background-color:#f3f2f2;

	
}
#solucao02{
	width:100%;
	height:500px;
	float:left;
	background-color:#fff;

	
}
#solucao03{
	width:100%;
	height:500px;
	float:left;
	background-color:#fff;

	
}
#icon6{
	float:left;
	width:33%;
	
	
}
.rightarrow{
cursor:pointer;
width:90px;
height:90px;

float:left;	
margin-top:75px;
position:absolute;
margin-left:230px;
	
}

.leftarrow{
cursor:pointer;
width:90px;
height:90px;

float:left;	
margin-top:75px;
position:absolute;
margin-left:20px;
	
}
#segmentomain{
	float:left;
	width:100%;
	background-color:#f3f2f2;
	
}
#active{
		margin:auto;
	width:30%;
	margin-bottom:10px;
}

.saibamais{
	width:100%;
	height:38px;
	background-color:white;
	color:#1a1f3e;
	float:left;
	border-radius: 6px;
		font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2;
	font-weight: 400;
	
	padding-top:0px;
		border:1px solid white;


}
#subtitlebann{
	
	margin-top:10px;
	width:100%;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	color:white;
	
	
	
}
#bt{
	background-color:pink;
margin-top:30px;
	width:100%;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	color:white;
	
	
	
}


#imgbanner{
	width:100%;
	margin:auto;
	height:330px;
	background-color:yellow;
	 background: #fff url("../img/banner001.png")  100%;
	   background-size: 1500px;
	 background-repeat:no-repeat;
	float:left;
	padding:50px;
	
}


#content{

	float:left;
	margin-bottom:50px;
	width:100%;
	
	
}

#all{

	float:left;
	padding-bottom:50px;
	width:100%;
	
	
}

#container{

	width:100%;

	margin:auto;
	padding-top:40px;
	
	
}

#title01{

	width:100%;
	font-size:21px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 500;
	text-align:center;
	margin-top:20px;
	padding-left:10%;
	padding-right:10%;
}

#subtitle01{

	width:100%;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:center;
	color:#696969;
	padding-left:10%;
	padding-right:10%;
	padding-top:15px;
}

#boxes{

	width:100%;
	float:left;
	padding-top:15px;
	padding-bottom:20px;

}

#box1{

	float:left;
	width:100%;
	padding-top:15px;
	padding-left:10%;
	padding-right:10%;
	padding-bottom:20px;
	
}
#box2{
	background-color:white;
	float:left;
	width:100%;
	padding-top:15px;
	padding-left:10%;
	padding-right:10%;
	padding-bottom:20px;
	

	
}
#box3{

	float:left;
	width:100%;
	padding-top:15px;
	padding-left:10%;
	padding-right:10%;
	padding-bottom:20px;
	
	
}


#imgbox1{
	width:110px;
	margin:auto;
	margin-bottom:20px;


}

#titleb{

	width:100%;
	text-align:center;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	text-align:center;
	color:black;

	
}
#subtitleb{

	width:100%;
	text-align:center;
	font-size:14px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:center;
	color:black;

	
}

#textb{

	width:100%;
	color:#696969;
	text-align:center;
	font-size:14px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:center;
	padding:10px;

	
}

#boxsolucao{
	width:100%;
	padding-top:20px;
	padding-bottom:90px;
	padding-right:5%;
	padding-left:5%;
background-color:#f3f2f2;
	float:left;
	
}

#titleb1{

	width:100%;

	text-align:center;
			font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	margin-top:8px;
	
}
#textb1{
margin-top:10px;margin-bottom:10px;
	width:100%;
padding-left:3%;
padding-right:5%;
	text-align:center;
			font-size:15px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
}
.saibamais2{
	width:100%;
	height:45px;
	background-color:#2ea9f0;
	color:#1a1f3e;

	border-radius: 6px;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2;
	font-weight: 400;
	padding-top:0px;
	border:1px solid white;
	color:white;
	margin:auto;



}
#bts{
	width:100%;
	float:left;
	padding-bottom:10px;
	padding-top:10px;
	
}
.saibamais2off{
	width:100%;
	height:45px;
	background-color:#2ea9f0;
	color:#1a1f3e;

	border-radius: 6px;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2;
	font-weight: 400;
	padding-top:0px;
	border:1px solid white;
	color:white;
	margin:auto;



}
#titleseg{
display:none
}
#titleseg00{
	margin-bottom:20px;	margin-top:20px;
	width:100%;
color:black;
text-align:center;
		font-size:22px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
float:left;
	
}
#activeb{

width:100%;
background-color:#f3f2f2;

float:left;	


	
}

#unindo{
	width:100%;
padding-left:5%;
padding-right:5%;
	float:left;
	
}

#titleunindo{
padding-left:5%;
padding-right:5%;
	width:100%;
	font-size:21px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	text-align:left;
	color:#19203f;
	
	
}


#textunindo{
padding-left:5%;
padding-right:5%;
	width:100%;
	color:#696969;
	text-align:center;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
margin-top:15px;
	float:left;

	
}

#textunindo2{
	padding-top:15px;
	background-color:white;
	width:100%;
	color:#696969;
	padding-left:10%;
	padding-right:10%;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	padding-top:30px;
	float:right;

	
}
#left{
	width:100%;
	float:left;

	text-align:left;
	
}
#right{
		padding-top:10px;
	width:100%;
	float:right;
	text-align:left;
	margin-top:10px;
	
}
#left1{
	width:100%;
	float:left;

	text-align:left;
	
}
#right2{
		padding-top:10px;
	width:100%;
	float:right;
	text-align:left;
	padding-bottom:30px;
	
}

#historia{
	width:100%;
	float:left;
	background-color:white;
	
}

#titlehistoria{

	width:100%;
	font-size:21px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	text-align:left;
	color:#19203f;
		padding-left:10%;
	padding-right:10%;
	
	
}


#texthistoria{
		font-size:15px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	padding-top:25px;
		padding-left:10%;
	padding-right:10%;
	
}