/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
.avisoTML{
  /*display: none*/
      margin-top: 10px;
}
section .basico {
    border-left: solid 1px #1f9dd1 !important;
    border-right: solid 1px #1f9dd1 !important;
}
@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'opensans-italic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-light-italic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-semibold-italic';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-bold-italic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-extrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-extrabold-italic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Libre Baskerville
================================================================================ */   
@font-face {
    font-family: 'librebaskerville-bold';
    src: url('../fonts/librebaskerville/librebaskerville-bold-webfont.eot');
    src: url('../fonts/librebaskerville/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/librebaskerville/librebaskerville-bold-webfont.woff') format('woff'),
         url('../fonts/librebaskerville/librebaskerville-bold-webfont.ttf') format('truetype'),
         url('../fonts/librebaskerville/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'librebaskerville-italic';
    src: url('../fonts/librebaskerville/librebaskerville-italic-webfont.eot');
    src: url('../fonts/librebaskerville/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/librebaskerville/librebaskerville-italic-webfont.woff') format('woff'),
         url('../fonts/librebaskerville/librebaskerville-italic-webfont.ttf') format('truetype'),
         url('../fonts/librebaskerville/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'librebaskerville-regular';
    src: url('../fonts/librebaskerville/librebaskerville-regular-webfont.eot');
    src: url('../fonts/librebaskerville/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/librebaskerville/librebaskerville-regular-webfont.woff') format('woff'),
         url('../fonts/librebaskerville/librebaskerville-regular-webfont.ttf') format('truetype'),
         url('../fonts/librebaskerville/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
 * FIXED for Font-Face Chrome Rendering
================================================================================ */
@media screen and (-webkit-min-device-pixel-ratio:0) {

   @font-face {
   font-family: 'opensans-semibold';
   src: url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
   }

   @font-face {
   font-family: 'opensans-bold';
   src: url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
   }

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/robotoblack.eot');
    src: url('../fonts/robotoblack.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoblack.woff') format('woff'),
         url('../fonts/robotoblack.ttf') format('truetype'),
         url('../fonts/robotoblack.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.eot');
    src: url('../fonts/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*------------------------------------*\
    MISC
\*------------------------------------*/

.download-box {
    width: 50%;
    display: block;
    float: none;
    margin: 0 auto;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    padding-bottom: 18px;
}
.download-button {
    text-align: center;
    text-decoration: none;
    padding: .75em 1em;
    color: #fff;
    display: block;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: #000;
    /* background-image: -webkit-linear-gradient(#009fd4,#09c,#0086b2); */
    background-image: -moz-linear-gradient(#009fd4,#09c,#0086b2);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* text-shadow: 0 -1px 0 rgba(0,0,0,.5); */
    /* box-shadow: 0 2px 4px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.4); */
    /* border: 1px solid #0086b2; */
    cursor: pointer;
}
::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}


a{
    color: #000;
}
/*--------------------------------------------- AJUSTES PADDING */
.p0{padding-left: 0px; padding-right: 0px}
.p1{padding-left: 1px; padding-right: 1px}
.p2{padding-left: 2px; padding-right: 2px}
.p5{padding-left: 5px; padding-right: 5px}
.p10{padding-left: 10px; padding-right: 10px}

/* BANNER */
.btn-banner {
    background-color: #e2e2e2;
    color: #7d7d7d;
    border-radius: 4px;
    font-size: 18px;
    /* padding: 4px 18px; */
    font-family: 'opensans-light';
    /* width: 240px; */
    position: relative;
    height: 48px;
    /* top: 30px; */
    border-color: transparent;
    transition: all 0.3s;
  }
.btn {
    padding: 8px 20px !important;
}
.banner-parceiros-home section .banner ul{
    display: inline-flex;
    list-style: none;
    -webkit-padding-start: 0;
    margin: 20px;
}
.banner-parceiros-home section .banner ul li{
    margin: 0 10px;
}
.banner-parceiros-home section .banner{
    text-align: center;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666666;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #666666;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #666666;
}
:-moz-placeholder { /* Firefox 18- */
  color: #666666;
}
.logged-in-as{
    padding: 15px;
}
.logged-in-as a{
    color: #000;
}
/*---------------------------------------BOX GERAIS TODAS AS PÁGINAS */

.row.intro-home{
    background-color: #fff;
    width: 100%;
    margin-top: 50px;
    height: 100%;
    margin-bottom: 0;
    z-index: 1;
}
.container.intro-home{
    padding-left: 80px !important;
    padding-right: 60px !important;
}
.intro-home .lista li{
    font-family: 'opensans-light';
    font-size: 16px;
    color: #45699f;
    margin-bottom: 20px;
    margin-top: 20px;
}
.intro-home .texto h3{
    font-family: 'opensans-regular';
    font-size: 30px;
    color: #19203f;
        margin-bottom: 25px;
}
.intro-home .texto p{
    font-size: 16px;
    font-family: 'opensans-light';
    color: #373737;
    line-height: 26px;
}

.row.destaques-home{
    background-color: #fff;
    width: 100%;
    margin-top: 50px;
    height: 100%;
    margin-bottom: 0;
    z-index: 1;
}

.container .destaques-home{

}

.destaques-home p.tituloDestaques{
  color: #19203f;
  font-family: 'opensans-bold';
  font-size: 18px;
  display: block;
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding-left: 0;
}
.destaques-home .lista li{
    font-family: 'opensans-light';
    font-size: 16px;
    color: #45699f;
    margin-bottom: 20px;
    margin-top: 20px;
}
.destaques-home .texto h3{
    font-family: 'opensans-regular';
    font-size: 30px;
    color: #19203f;
        margin-bottom: 25px;
}
.destaques-home .texto p{
    font-size: 16px;
    font-family: 'opensans-light';
    color: #373737;
    line-height: 26px;
}

.destaques-home .texto .titulo-destaque{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-image: url(images/bg-foto-destaque-1.png);
    background-position: top;
}

.destaques-home .texto .titulo-destaque p{
  margin-bottom: 0px;
  color: #fff;
  transition: color 0.6s;
  font-family: 'opensans-regular';
  font-size: 24px;
  line-height: 24px;
}
.destaques-home .texto .titulo-destaque2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-image: url(images/bg-foto-destaque-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
}
.destaques-home .texto .titulo-destaque2 p{
  bottom: 8px;
  color: #fff;
  font-family: 'opensans-regular';
  font-size: 18px;
  line-height: 19px;
  position: absolute;
  transition: color 0.3s;
}
.img-destaque:hover > .titulo-destaque p, .img-destaque:hover > .titulo-destaque2 p,.img-destaque:hover > .titulo-destaque3 p{
  color: #e30613;
  transition: color 0.3s;
}
.destaqueLast{
     margin-top: 11%;
}
/* REGISTRO */

.ContentLogin h3 {
    text-align: center;
    font-family: 'opensans-regular';
    font-weight: 600;
    padding-bottom: 20px;
  }
  /*---------------------------------------LOGIN */
.contentMaster.ContentLogin .tml.tml-login,.contentMaster.ContentLogin .tml.tml-register, .modal-body .tml.tml-login,  .modal-body .tml.tml-register{
padding: 0px 80px;
}
.divNovoUser {
    padding: 5px;
    color: #2a2a2a;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    display: none;
}
.divNovoUser .TituloUser{
    font-weight: 600;
}
.divNovoUser .novoNome strong{
    font-size: 16px;
}
.loginMaster{
    min-height: 465px;
}
.campoOK{
    border: 1px solid #328c1b;
    background: #d9ffd7;
    font-weight: 600;
    font-size: 16px !important;
}
.campoNot{
    border: 1px solid #ec3131;
    background: #ffdcdc;
    font-weight: 600;
    font-size: 16px;
}
.loader3, .loader4{
    position: absolute;
    top: 27px;
    right: 50px;
    display: none;
}
.contentMaster.ContentLogin .tml.tml-register{
    display: table;
    /* height: 414px; */
    padding: 0px 80px;
    margin-top: -15px;
    border-left: solid 1px #ccc;
    background-color: #fff;
    margin-top: 10px
}
h5.preencha {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #14152b;
        margin-top: 0;
}

.theme-4 .apsl-icon-block.icon-facebook {
    background: #2a2a2a none repeat scroll 0 0;
    border-radius: 0px;
    color: #d9d9d9;
    font-size: 12px;
    line-height: 22px;
    padding: 7px 15px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    font-family: 'opensans-regular';
}
.apsl-long-login-text {
    text-align: center;
    position: absolute;
    left: 41%;
}

.contentMaster.ContentLogin h5.big{
    color: #666666;
    font-size: 20px;
    font-family: 'opensans-regular';
    text-align: center;
    letter-spacing: 1px;
}
.fa.fa-facebook {
    font-size: 19px;
    padding-right: 16px;
    padding-top: 2px;
    vertical-align: top;
    display: inline-block;
    border-right: solid 1px #666;
}
.contentInterno.contentLogin{
    padding-bottom: 30px;
}
#registerform .form-group {
    margin-bottom: 10px;
}
#registerform .btn-voltar span {
    margin-top: 8px;
    position: absolute;
    display: block;
    color: #ffffff;
    font-weight: normal;
    font-size: 12px;
    font-family: 'opensans-regular';
}
#registerform .divAviso{
    display: none;
}
.tml-action-links{
    list-style: none;
    margin-top: 15px;
    -webkit-padding-start: 0;
}
.tml-action-links a{
font-family: 'opensans-regular';
font-weight: 700;
font-style: normal;
font-size: 13px;
color: #6B6B6B;
margin-right: 10px;
}
form#loginform input[id="user_login"],form#loginform input[id="user_pass"],form#lostpasswordform input[id="user_login"], form#registerform input, form#adduser input, form#your-profile input{
font-family: 'opensans-regular';
    padding: 26px 15px;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    margin-bottom: 5px;
}
form#loginform label{
    font-family: 'opensans-regular';
    font-size: 12px;
    color: #000;
}
form#loginform h5, .tml.tml-register h5, .divInfoConta h5{
/*    font-family: 'opensans-regular';
    font-size: 16px;
    color: #000;*/
}
form#loginform h5.label, .tml.tml-register h5.label{
    font-weight: 600;
    padding-left: 0;
    text-align: center;
    font-size: 18px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1px;
    color: #14152b;
}
form#loginform .btn-default.btn.btn-login, .tml.tml-register .btn-default.btn.btn-login,.btn-default.btn.btn-padrao,  .btn-default.btn.btn-login, .btn-default.btn.btn-voltar, .btn-default.btn.btn-assine-agora{
background-color: #ffffff;
    border-radius: 0px;
    font-weight: 700;
    padding: 11px 18px !important;
    font-family: 'opensans-regular';
    width: 100%;
    border-color: #181f3d;
    margin-top: 10px;
    text-align: center;
    height: 49px;
    border-radius: 4px;
    font-size: 16px;
}
.btn-bco{
  background: #fff;
}
.btn-verm{
background-color: #e30613 !important;
    border: transparent 1px;
    color: #fff;
    margin-top: 22px !important;
}
.btn-azul{
background-color: #181f3d !important;
    border: transparent 1px;
    color: #fff;
}
#registerform .form-group p{

}
.social-networks .apsl-icon-block.icon-facebook{
  width: 40px;
  height:40px;
  display: block;
  float: left;
  position: relative;
  background: url(images/bg-sociais-login.png);
  background-position: 0px 0px;
}
.social-networks .apsl-icon-block.icon-twitter {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    position: relative;
    background: url(images/bg-sociais-login.png);
    background-position: -87px 0px;
}
.social-networks .apsl-icon-block.icon-google {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    position: relative;
    background: url(images/bg-sociais-login.png);
    background-position: -132px 0px;
}
.div.social-networks a {
    border-bottom: none;
    text-decoration: none;
    width: 40px;
    height: 40px;
    /* display: block; */
}
.div-faca-login{
      padding: 0px 90px;
       margin-top: 30px;

}
.div-faca-login .tem-conta{
      text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #14152b;
}
.loginMaster p.tit-assinante-premium {
    margin-top: 95px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

p.tit-assinante-premium {
    margin-top: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
p.tit-assinante-premium span {
    color: #e30613;
}
p.text-assinante-premium {
    padding: 0 20px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #666;
    margin-bottom: 20px;
    margin-top: 50px;
}
form#loginform .btn-default.btn.btn-login span, .btn-default.btn.btn-login span,.btn-default.btn.btn-padrao span,.btn-default.btn.btn-voltar span{
    margin-top: 8px;
    position: absolute;
    display: block;
    color: #d9d9d9;
    font-weight: normal;
    font-size: 12px;
    font-family: 'opensans-regular';
}
form#loginform a, .btn-login a {
    display: inline-block;
    text-decoration: underline;
    color: #ccc;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
}
h5.divLoginTitulo{
    text-align: center;
    color: #a5a2a2;
    font-size: 16px;
    display: -webkit-inline-box;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: #fff;
}
.divTitulo p{
      margin-top: -17px;
        margin-bottom: 26px;
    border-bottom: solid 1px #ccc;
}
.social-networks{
  display: block;
  width: 100%;
  float:left;
  position: relative;
  text-align: center;
}
/* CONTEUDO */
.row.conteudo-home{
    background-color: #fff;
    width: 100%;
    margin-top: 50px;
    height: 100%;
    margin-bottom: 0;
    z-index: 1;
}

.container .conteudo-home{

}

.conteudo-home p.tituloDestaques{
  color: #19203f;
  font-family: 'opensans-bold';
  font-size: 18px;
  display: block;
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding-left: 0;
}
.conteudo-home .lista li{
    font-family: 'opensans-light';
    font-size: 16px;
    color: #45699f;
    margin-bottom: 20px;
    margin-top: 20px;
}
.conteudo-home .texto h3{
    font-family: 'opensans-regular';
    font-size: 30px;
    color: #19203f;
        margin-bottom: 25px;
}
.conteudo-home .texto p{
    font-size: 16px;
    font-family: 'opensans-light';
    color: #373737;
    line-height: 26px;
}

.conteudo-home .texto .titulo-destaque{
        padding-left: 15px;
}
.acessados .titulo-destaque{
  padding-left: 0px !important;
  margin-top: 15px;
}
.conteudo-home .conteudo-list{
      margin-bottom: 25px;
}

.conteudo-home .texto .titulo-destaque p{
  color: #181f3d;
  transition: color 0.6s;
  font-family: 'opensans-regular';
  font-size: 18px;
  line-height: 20px;
}
.conteudo-home .texto .titulo-destaque p:hover{
  color: #e30613;
  transition: color 0.6s;
}
.conteudo-home  .texto p.excerpt-conteudo-home{
    color: #373737;
    font-size: 14px;
    font-family: 'opensans-regular';
}
.conteudo-home .texto.colunista-interno{
  margin-bottom: 20px;
  margin-top: 20px;
}
 p.date-conteudo-home.single{
    color: #1d1d1d;
    font-size: 12px;
    height: auto !important;
    margin-top: 10px !important;
}
.conteudo-home .texto .titulo-artigo{
    padding: 0 0 25px 15px;
}
.conteudo-home.artigos .texto .titulo-artigo {
    padding: 0;
}
.conteudo-home .texto .titulo-artigo.colunista {
    padding: 0 0 0px 15px;
}
.conteudo-home.internas.categorias.artigos .div-artigo-home {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    margin-left: 0px;
}
.conteudo-home .texto .titulo-destaque-artigo p{
  color: #e30613;
  transition: color 0.6s;
  font-family: 'opensans-regular';
  font-size: 18px;
  line-height: 20px;
}



.conteudo-home  .texto p.excerpt-artigo-home{
    color: #373737;
    font-size: 14px;
    font-family: 'opensans-regular';
}
.conteudo-home  .texto p.date-artigo-home{
    color: #1d1d1d;
    font-size: 12px;
    margin-bottom: 5px;
}
.conteudo-home .div-artigo-home{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
      margin-left: 0px;
}
.conteudo-home .div-artigo-home.outros-posts{
      margin-left: 0;
          padding-top: 0px;
}
.conteudo-home .div-artigo-home.colunista {
    margin-left: 0px;
    border-bottom: none;
    padding: 20px 0 0;
}
.conteudo-home .banner-meio-capa{
  text-align: center;
  padding: 40px 0;
}
.conteudo-home .banner-meio-capa  img {max-width: 100%;}
.conteudo-home .categoria{
   /* position: absolute;
    right: -10px;
    background-color: #e30613;
    width: 70px;
    height: 25px;
    text-align: center;
    padding: 5px 0;*/
    color: #e30613;
        margin-bottom: 7PX;
    /*text-transform: uppercase;
    top: 30px;*/
}
.texto .colunista{
  padding: 20px 0;
    border-bottom: solid 1px #ccc;
    min-height: 140px;
    margin-bottom: 0px;
}
.texto .colunista:last-of-type {
    border-bottom: none;
}
.texto .colunista .post .titulo{
      color: #979797;
    /* font-weight: 600; */
    font-family: 'opensans-regular';
    margin-bottom: 5px;
}
.texto .colunista .post .post-content, .texto .colunista .post .post-content a, .texto .colunista .post .post-content p{
    color: #1a1f3e;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    font-family: 'opensans-regular';
    margin-bottom: 5px;

}
.texto .colunista .post .post-content a:hover{
  color: #e30613;

}
.texto .colunista .imagem{
    width: 70px;
    float: left;
    position: relative;
    margin-right: 15px;
    min-height: 140px;
    display: table;
}
.texto .colunista .colunista .imagem {
    width: 70px;
    float: left;
    position: relative;
    margin-right: 15px;
    min-height: auto;
    display: table;
    margin-left: 15px;
}
.texto .colunista .imagem span{
  display: table-cell;
  vertical-align: middle;
}
.texto .colunista .imagem img{
  border-radius: 50px;
}
.conteudo-home .texto .titulo-destaque2{
    padding: 0 0 15px 15px;
    background-image: url(images/bg-foto-destaque-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
}
.conteudo-home .div-categoria-home{
position: absolute;
    right: -10px;
    background-color: #e30613;
    min-width: 105px;
    min-height: 25px;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    top: 30px;
}

.conteudo-home .texto .titulo-destaque2 p{
  bottom: 8px;
  color: #fff;
  font-family: 'opensans-regular';
  font-size: 18px;
  line-height: 19px;
  position: absolute;
  transition: color 0.3s;
}
.img-conteudo:hover > .titulo-conteudo p, .img-conteudo:hover > .titulo-conteudo2 p,.img-conteudo:hover > .titulo-conteudo3 p{
  color: #e30613;
  transition: color 0.3s;
}
.destaqueLast{
     margin-top: 11%;
}
/* CONTEUDO */

.internas .divHeader.navbar-expanded{
    background: #fff;
}
.internas.rowHeader {
    height: 90px;
}
.divHeader.navbar-expanded {
    background: transparent;
    border: none;
}
.internas .divHeader{
    background-color: rgba(255, 255, 255, 0.90);
}

.divHeader{
    background-color: rgb(255, 255, 255);
}

/* ================================== CONTEUDO CATEGORIAS */
.conteudo-home .internas.categorias .conteudo-list{
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 40px;
    float: right;
}
.conteudo-home .internas.categorias .acessados .conteudo-list{
    border-bottom: none;
    margin-bottom: 0;
        min-height: 195px;
}
.conteudo-home .internas.categorias .conteudo-list .date-conteudo-home{
  color: #181f3d;
  font-weight: 600;
}
.conteudo-home .internas.categorias .conteudo-list .date-conteudo-home span span{
    color: #e30613;
    margin-right: 30px;
}
.conteudo-home .internas.categorias .conteudo-list .titulo-destaque p {
    color: #181f3d;
    transition: color 0.6s;
    font-family: 'opensans-regular';
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
}
.conteudo-home .internas.categorias .destaque .conteudo-list .titulo-destaque p.excerpt-conteudo-home {
    color: #181f3d;
    transition: color 0.6s;
    font-family: 'opensans-regular';
    font-size: 14px;
    line-height: 20px;
        font-weight: normal;
}
.conteudo-home .internas.categorias .div-relacionados h3{
      color: #181f3d;
    font-family: 'opensans-regular';
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: solid 1px #ccc;
    margin-top: 90px;

}
.conteudo-home .internas.categorias .div-relacionados div.content-relacionados .btn-saiba-mais{
  position: absolute;
    bottom: 0;

}
.conteudo-home .internas.categorias .div-relacionados div.content-relacionados .btn-saiba-mais input.btn-saiba-mais{
  height: 36px;
    padding: 5px 13px;
    background-color: #fff;
    /* border-color: #e2e2e2; */
    color: #181f3d;
    border: solid 1px #999;
    font-weight: 600;
    font-size: 16px;
    transition: all ease-out 0.3s
}
.conteudo-home .internas.categorias .div-relacionados div.content-relacionados .btn-saiba-mais input.btn-saiba-mais:hover{
  background: #181f3d;
    color: white;
    border: solid 1px #181f3d;
    transition: all ease-out 0.3s
}
.conteudo-home .internas.categorias .div-relacionados div.content-relacionados{
  min-height: 240px !important;
}
.conteudo-home .internas.categorias.artigos .div-relacionados div.content-relacionados{
      padding: 10px 40px 20px 30px;
          min-height: 250px;
}
.padLeft{
      padding: 10px 60px 20px 0 !important;
}
.conteudo-home .internas.categorias .div-relacionados div.content-relacionados:first-of-type{
  padding: 10px 60px 20px 0;
}
.conteudo-home .internas.categorias .div-relacionados div.content-relacionados .post-content{
  font-family: 'opensans-regular';
    font-weight: 600;
    font-size: 18px;
    color: #181f3d;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 22px;
}
.conteudo-home .internas.categorias .div-relacionados div.content-relacionados .post-excerpt{
      font-family: 'opensans-regular';
    /* font-weight: 600; */
    font-size: 12px;
    color: #181f3d;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 19px;
}
.conteudo-home .internas.categorias .div-relacionados div.content-relacionados .post-excerpt.date{
  font-weight: 600;
}
.conteudo-home .internas.categorias .conteudo-list .titulo-destaque p.excerpt-conteudo-home {
    color: #181f3d;
    transition: color 0.6s;
    font-family: 'opensans-regular';
    font-size: 14px;
    line-height: 20px;
}
.conteudo-home .internas.categorias .banner-conteudo-1, .conteudo-home .internas.categorias .banner-conteudo-2{
  margin-top: 20px;
}
.conteudo-home .internas.categorias .titulo-artigo p{
      margin-top: 5px;
    font-weight: 600;
    font-family: 'opensans-regular';
    font-size: 15px;
    line-height: 16px;
    display: table;
    width: auto;
    height: 53px;
}
.conteudo-home .internas.categorias .titulo-artigo p span{
      display: table-cell;
    vertical-align: middle;
}
.conteudo-home .internas.categorias .content-categorias-sub{
    float: right;
    margin-right: 15px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.conteudo-home .internas.categorias .content-categorias-sub .btn-load-more-content{
  text-align: center;
    position: absolute;
    bottom: -20px;
}
.conteudo-home .internas.categorias .content-categorias-sub .btn-load-more-content input{
  font-size: 16px;
    padding: 5px 5px;
    height: 40px;
    transition: all 0.3s;
}
.conteudo-home .internas.categorias .relacionado .div-artigo-home{
      margin-left: 0px;
}
.btn-default:hover {
    background-color: #fff !important;
    color: #000;
    transition: all 0.2s;
    border:solid 1px;
}
.col-xs-12.p0.divAjudaLogin {
    margin-top: 30px;
    margin-bottom: 0;
    background: #ddd;
    padding-top: 18px;
    padding-bottom: 6px;
    color: #14152b;
    font-size: 14px;
}
.col-xs-12.col-md-6.ajudaCentral {
    float: right;
    text-align: right;
}
.conteudo-home .internas.categorias .content-categorias-sub .texto{
  margin-left: 22px;
}
.conteudo-home .internas.categorias .content-categorias-sub .texto .acessados{
  width: 48%;
}
.conteudo-home .internas.categorias .titulo-artigo p.excerpt-artigo-home{
  font-weight: normal;
  font-size: 12px;
}
.conteudo-home .internas.categorias .titulo-artigo.colunista p.excerpt-artigo-home{
    font-weight: normal;
    font-size: 12px;
    padding: 20px 10px;
    margin-top: 20px;
}
.conteudo-home .internas.categorias .titulo-artigo.colunista p.excerpt-artigo-home.artigo {
    font-weight: normal;
    font-size: 12px;
    margin-top: 20px;
    padding: 20px 10px 0;
}
.outros-posts h3 {
    font-size: 16px !important;
    color: #e30613 !important;
    border-bottom: solid 1px #ccc;
    padding-bottom: 12px;
    margin-top: 0px;
    /* background: whitesmoke; */
  }

.conteudo-home .internas.categorias p.tituloDestaques {
    color: #19203f;
    font-family: 'opensans-bold';
    font-size: 22px;
    display: block;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-left: 0;
}
.conteudo-home .internas.categorias .acessados .conteudo-list .titulo-destaque p {
color: #181f3d;
    transition: color 0.6s;
    font-family: 'opensans-regular';
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}
.conteudo-home .internas.categorias .acessados .conteudo-list p.excerpt-conteudo-home {
color: #181f3d;
    transition: color 0.6s;
    font-family: 'opensans-regular';
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
}
 .acessados .conteudo-list p.date-conteudo-home{
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    transition: color 0.6s;
}

.conteudo-home .internas.categorias.conteudo p.excerpt-conteudo-home {
    color: #373737;
    font-size: 14px;
    font-family: 'opensans-regular';
    font-weight: 600;
    margin-top: 10px;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.conteudo-home .internas.categorias.conteudo .div-categoria-internas{
background-color: #e30613;
    max-width: 140px;
    height: 30px;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
.single .row.conteudo-home {
    height: auto;
}
.conteudo-home .internas.categorias.conteudo .conteudo-list{
        min-height: 360px;
    max-height: 630px;
    overflow: hidden;
    font-family: 'opensans-regular';
    font-size: 14px;
    line-height: 21px;
    float: left;
    position: relative;
    margin-bottom: 60px;
    margin-top: 24px;
    padding-bottom: 0;
    border-bottom: none;
    transition: all 0.4s;
}
.conteudo-home .internas.categorias.conteudo.solucoes .conteudo-list{
    height: auto;
    font-family: 'opensans-regular';
    font-size: 14px;
    line-height: 21px;
    float: left;
    position: relative;
    margin-bottom: 60px;
    margin-top: 24px;
    padding-bottom: 0;
    border-bottom: none;
    transition: all 0.4s;
}
.conteudo-home .internas.categorias.conteudo .conteudo-list.expand{
  height: auto !important;
  transition: all 0.4s;
  min-height: auto !important;
  max-height: 100% !important;
}
.conteudo-home .internas.categorias.conteudo .conteudo-list .bg-bco{
  background: url(images/bg-noticia.png) bottom no-repeat;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 322px;
}

.conteudo-home .internas.categorias.conteudo .btn-continuar-lendo{
    height: 38px;
    padding: 5px 8px;
    background: #181f3d;
    color: #fff;
    transition: all 0.3s;
}
.conteudo-home .internas.categorias.conteudo .btn-continuar-lendo:hover{
    background: #e30613;
    color: #fff;
    transition: all 0.3s;
}
.img-conteudo{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin: 15px 0;
}
/* =============================================== */
.titulo-destaque a:hover, .titulo-destaque a:hover p, .titulo-artigo a:hover p{
  color: #e30613 !important;
  text-decoration: none !important;

}
/*--------------------------------------------- CONTATO */
.bannerCapa.contato{
    margin: 0 auto;
    float: none;
    min-height: auto !important;
    margin-top: 29px;
        width: 1395px;
}
.bannerCapa.contato .container-banner{
  width: 1395px;
}
.bannerCapa.contato .container-banner .img{
    width: 815px;
    height: 350px;
    float: left;
    position: relative;
}
.bannerCapa.contato .container-banner .mapa{
    width: 580px;
    float: left;
    position: relative;
}
div.wpcf7 {
    width: 70%;
}
div.form p.info{
  width: 90%;
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
}
div.endereco2 p.titulo-endereco{
    font-weight: 600;
    color: #8e8e8f;
    font-family: 'opensans-regular';
}
.form{
  min-height: 900px;
}
form textarea[name="mensagem"]{
  min-height: 220px;
}
div.info p.titulo-contato{
  margin-top: 65px;
    font-weight: 600;
    color: #8e8e8f;
    font-family: 'opensans-regular';
}
div.info .endereco2{
      margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    font-size: 14px;
}
div.info p.texto-contato{
    margin-top: 10px;
    font-weight: normal;
    color: #373737;
    font-family: 'opensans-regular';
    line-height: 21px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    font-size: 14px;
}
form.wpcf7-form{
      margin-top: 25px;
}
div.wpcf7 .form-control {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 38px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #e7e7e7;
    /* background-color: #d9d9d9; */
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: 'opensans-regular', Arial, Helvetica, sans-serif;
}
.info{
    margin-top: 50px;
}

.info .endereco2 .cidade{
    line-height: 19px;
    font-family: 'opensans-bold';
    color: #181f3d;
}
.info .endereco2 .end{
    line-height: 19px;
    font-family: 'opensans-regular';
    color: #181f3d;
}
textarea.form-control{
    height: 100px;
    padding: 20px;
}
.horarioInfo{
        font-family: 'opensans-regular';
    font-size: 14px;
    color: #6b6b6b;
    margin-top: 30px;
}
p.horario1, p.horario2{
    font-family:'opensans-bold';
    color: #1ab7ea;
}
.horarioInfo span.email{
    font-family:'opensans-bold';
    font-size: 14px;
    color: #6b6b6b;
}
.ender {
    margin-bottom: 140px;
}
.ender div.wpcf7 .ajax-loader {
    visibility: hidden;
    display: inline-block;
    background-image: url(images/ajax-loader.gif);
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    vertical-align: middle;
    position: relative;
    margin-top: 62px;
    margin-left: 14px;
}
.ender .fone{
    font-family:'opensans-bold';
    color: #1ab7ea;
    margin-top: 30px;
}
.ender .fone span{
    color:#353535;
}
.ender .form input[type="text"]{
    height: 42px;
    padding: 0 20px;
    color: #666;
    border-radius: 1px;
    border: solid 1px #aaa;
    /* border: none; */
    font-family: 'opensans-light';
    font-size: 14px;
}
.ender .form input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b1adad
}
.ender .form input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #b1adad
}
.ender .form input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #b1adad
}
.ender .form input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #b1adad
}
.ender .form .botao {
    text-align: left;
}
.ender .form .botao .btn-default{
    width: 190px;
    height: 50px;
}
.ender .form .botao .btn-default:hover {
    color: #ffffff;
    background-color: #57caef;
    border-color: transparent;
    transition: all 0.3s;
}
.ender .form div.wpcf7 {
    margin: 0;
    padding: 0 0 0 50px;
}
.ender .form .form-group .sobre{
    margin-top: 5px;
}
.ender .form label{
        font-family: 'robotoregular';
    font-size: 14px;
    color: #6b6b6b;
}
.ender .form .form-group p{
    font-size: 12px;
    color: #6b6b6b;
}
/*--------------------------------------------- EMPRESA */
.empresa .titulo p{
    font-family: 'opensans-light';
    color: #8d8d8d;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    line-height: 32px;
    bottom: 86px;
    width: 80%;
    margin: 0 auto;
}
/* Esconde o input */
.empresa .upload input[type='file'] {
  display: none;
}
.empresa .info{
    margin-top: 120px;
    margin-bottom: 50px;
}
/* Aparência que terá o seletor de arquivo */
.empresa .upload label {
    background-color: #1ab7ea;
    color: #ffffff;
    border-radius: 4px;
    font-size: 18px;
    padding: 11px;
    font-family: 'robotoblack';
    width: 150px;
    position: relative;
    height: 36px;
    top: -1px;
    border-color: transparent;
    transition: all 0.3s;
    text-align: center;
}

.empresa .textos .botao input{
    width: 100%;
    height: 42px;
    top: 0;
}
.empresa .textos{
    margin-bottom: 35px;
    margin-top: 80px;
}
.empresa .faca-parte h3{
        font-family: 'robotoblack';
    font-size: 48px;
    text-align: center;
    color: #003768;
    margin-top: 75px;
        margin-bottom: 35px;
}
.empresa .faca-parte p{
    font-family: 'opensans-light';
    color: #1ab7ea;
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
    /* top: 54px; */
    line-height: 26px;
    width: 65%;
    margin: 0 auto;
}
.empresa .textos .texto{
    font-family: 'robotoregular';
    font-size: 14px;
    color: #6d6d6d;
    display: table;
    height: 42px;
}
.empresa .textos .botao{
    display: table;
}
.empresa .textos .botao{
    display: table;
    min-height: 62px;
}
.empresa .textos .texto ul{
    list-style: none;
    -webkit-padding-start: 0px;
}
.empresa .textos .texto ul li:first-of-type{
    margin: 0 0 10px 0;
}
.empresa .textos .texto ul li{
    margin: 10px 0;
}
.empresa .textos .texto span, .empresa .textos .botao span{
    display: table-cell;
    vertical-align: middle;
}
.container.content-list.empresa {
    margin-top: 559px;
}
/*--------------------------------------------- SERVICOS */
.servicos .titulo p {
    font-family: 'opensans-light';
    color: #8d8d8d;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    line-height: 32px;
    bottom: 86px;
    width: 90%;
    margin: 0 auto;
}
/* Esconde o input */
.servicos .upload input[type='file'] {
  display: none;
}

/* Aparência que terá o seletor de arquivo */
.servicos .upload label {
    background-color: #1ab7ea;
    color: #ffffff;
    border-radius: 4px;
    font-size: 18px;
    padding: 11px;
    font-family: 'robotoblack';
    width: 150px;
    position: relative;
    height: 36px;
    top: -1px;
    border-color: transparent;
    transition: all 0.3s;
    text-align: center;
}

.servicos .textos .botao input{
    width: 100%;
    height: 42px;
    top: 0;
}
.servicos .textos{
    margin-bottom: 35px;
    margin-top: 80px;
}
.servicos .faca-parte h3{
        font-family: 'robotoblack';
    font-size: 48px;
    text-align: center;
    color: #003768;
    margin-top: 75px;
        margin-bottom: 35px;
}
.servicos .faca-parte p{
    font-family: 'opensans-light';
    color: #1ab7ea;
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
    /* top: 54px; */
    line-height: 26px;
    width: 65%;
    margin: 0 auto;
}
.servicos .textos .texto{
    font-family: 'robotoregular';
    font-size: 14px;
    color: #6d6d6d;
    display: table;
    height: 42px;
}
.servicos .textos .botao{
    display: table;
}
.servicos .textos .botao{
    display: table;
    min-height: 62px;
}
.servicos .textos .texto ul{
    list-style: none;
    -webkit-padding-start: 0px;
}
.servicos .textos .texto ul li:first-of-type{
    margin: 0 0 10px 0;
}
.servicos .textos .texto ul li{
    margin: 10px 0;
}
.servicos .textos .texto span, .servicos .textos .botao span{
    display: table-cell;
    vertical-align: middle;
}
.container.content-list.servicos {
    margin-top: 559px;
        padding-bottom: 120px;
}
.container.content-list.servicos.segmentos {
    margin-top: 0px;
}
.row.segmentos{
  background:#f4f4f4;
  padding-top: 50px;
}
.container.content-list.servicos .info {
    margin-top: 70px;
}
.container.content-list.servicos .info .img{
      margin-top: 20px;
      margin-bottom: 30px;
}
.container.content-list.servicos .info .servico{
      min-height: 245px;
}
.container.content-list.servicos .info .titulo{
  font-family: 'opensans-light';
  font-size: 28px;
  color: #003768;
  font-weight: 600;
  margin: 0px 0 30px;
}
.container.content-list.servicos .info .description{
  font-family: 'opensans-light';
  font-size: 16px;
  color: #a8a8a8;
  width: 60%;
  line-height: 29px;
  margin: 0 0 30px;
}
.post-type-archive-nossos-servicos .row.foot2 {
  margin-top: 0px;
}
.row.processo{
    background-color: #fff;
    width: 100%;
    margin-top: 0;
    height: 100%;
    margin-bottom: 0;
    z-index: 1;
}
.row.processo .img{
      height: 560px;
}
.processo .texto{
    padding: 25px 30px 0 42px;
}
.processo .texto h3{
    font-family: 'robotoblack';
    font-size: 48px;
    color: #003768;
    margin-bottom: 24px;
}
.processo .texto h5 {
    font-size: 18px;
    font-family: 'opensans-light';
    color: #1ab7ea;
    font-weight: 600;
    line-height: 30px;
}
.processo .texto p.conteudo{
    font-family: 'opensans-light';
    font-size: 16px;
    line-height: 38px;
    color: #9e9e9e;
    margin-top: 20px;
    font-weight: 600;
}
.container.content-list.servicos.processo {
    margin-top: 0;
    padding-bottom: 0px;
}
/*--------------------------------------------- cobranca */
.container.content-list.cobranca {
    margin-top: 100px;
    padding-bottom: 120px;
}
.cobranca .texto h3 {
    font-family: 'robotoblack';
    font-size: 48px;
    color: #003768;
    margin-bottom: 24px;
}
.cobranca .texto p.conteudo {
    font-family: 'opensans-light';
    font-size: 16px;
    line-height: 38px;
    color: #9e9e9e;
    margin-top: 20px;
    font-weight: 600;
}
.cobranca .cobserv {
    width: 280px;
    margin-left: 22%;
    border-bottom: solid 1px #ccc;
}
.noBorder{
  border-bottom: transparent !important;
}
.cobranca .cobserv p {
    font-family: 'robotothin';
    font-size: 18px;
    line-height: 65px;
    color: #1ab7ea;
   font-weight: 600;
    background: #fff;
    width: 80%;
        margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 4px;
margin-bottom: 10px;
    margin-top: 10px;

}
.cobranca .cobserv p i{
  float: right;
  margin: 15px 20px 0 0;
  font-size: 34px;
  font-weight: normal;
  color: #fff;
}

.cobranca .cobserv p:hover {
    background: #1ab7ea;
    color: #fff;
    cursor: pointer;
}

/*--------------------------------------------- HEADER */
.header {
    display: block;
    padding: 0 0;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.divHeader{
	
}
.menu-assinantes input[type="search"] {
-webkit-appearance: none;
    border: none;
    width: 120px;
}

.form-busca-lista .formBusca input[type="search"]{
    -webkit-appearance: none;
        border: none;
    width: 80%;
}
.form-busca-lista h3 {
    font-size: 24px !important;
    border-bottom: solid 1px #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px !important;
}
.texto.busca{
      border-bottom: solid 1px #ccc;
}
.btn-load-more-content.busca {
    text-align: center;
    position: absolute;
    bottom: -20px;
}
.acessados.lista-busca .conteudo-list{
  min-height: auto !important;
}
.form-busca-lista .formBusca {
    display: block;
    width: 90%;
    height: 35px;
    margin-bottom: 30px;
    margin-top: -6px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 0;
    color: #ababab;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-busca-lista .formBusca .input-busca{
    float: left;
    position: relative;
    display: block;
    margin-top: 5px;
    width: 96%;
}
.form-busca-lista .formBusca .botao-busca{
width: 20px;
    float: right;
    position: relative;
    margin-top: 2px;
    margin-right: -5px;
}
.form-busca-lista .formBusca .search-submit{
  width: 20px;
  height: 20px;
  background-image: url(images/btn-busca.png);
      margin-top: 5px;
      border: none;
}
.menu-assinantes{
    float: right;
    margin-top: 10px;
    color: #bdb8b8;

}
.menu-assinantes .formBusca {
display: block;
    width: 100%;
    height: 35px;
    margin-top: -6px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 0;
    color: #ababab;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.menu-assinantes .formBusca .input-busca{
  float: left;
    position: relative;
    display: block;
    margin-top: 5px
}
.menu-assinantes .formBusca .botao-busca{
  width: 20px;
    float: left;
    position: relative;
    margin-top: 2px;
}
.menu-assinantes .formBusca .search-submit{
  width: 20px;
  height: 20px;
  background-image: url(images/btn-busca.png);
      margin-top: 5px;
      border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #14152b;
}
.menu-assinantes ul{
  margin-bottom: 0px;
    display: -webkit-inline-box;
    -webkit-padding-start: 0px;
    width: 100%;
    display: flex;
    /* border-bottom: solid 1px #7a7a7a; */
}
.menu-assinantes ul li{
  height: 25px;
    list-style: none;
    /* border-right: dashed 1px #000; */
    /* background-color: #fff; */
    padding-left: 10px;
    text-align: left;
    display: table;
    padding-right: 10px;
}
.menu-assinantes ul li a{
    padding-top: 10px;
    line-height: normal;
    font-size: 15px;
    font-family: 'opensans-light';
    font-weight: 600;
    padding-bottom: 22px;
    color: #bdb8b8;
    margin: 0 5px;
}
.breadcrumbs{
  margin-top: 35px;
}
.breadcrumbs a{
  color: #999;
}
.rowHeader{
}
.divHeader.container {
    z-index: 999999;
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -1px 17px 2px rgba(0,0,0,0.2);
}
.divHeader .divH1{
      position: relative;
}
.internas .row.divHeader{
    margin-top: 90px;
}
/* LOGO */
.logo {
	text-align: center;
	margin-top: 0px;
}
.logo-img {
    /*height: 83px;*/
    margin-left: 0px;
        margin-top: 8px;
}

/* NAV */
.nav {
    margin-top: 0;
    /* box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.2); */
    /* min-height: 82px; */
    /* margin-bottom: 6px; */
    /* margin-left: 20px; */
    position: relative;
    float: left;
    width: 100%;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    float: left;
}
.navbar-nav > li > a {
    padding-top: 10px;
    
    line-height: normal;
    font-size: 15px;
    font-family: 'opensans-light';
    font-weight: 600;
        padding-bottom: 22px;
}

li.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
    display: -webkit-box;
    min-height: 196px;
    margin-top: -1px;
    padding-top: 18px;
    min-height: 295px;
        min-width: 790px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e30613;
    background-color: transparent;
}
li.dropdown.open > a{
  background-color: #fff !important;
  color:#e30613 !important;
}
.dropdown-toggle{
    margin-bottom: 2px;
}
.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
    margin-bottom: 0;
}
#menu-principal-1 span.caret{
  display: none;
}
/* segundo nivel de menu */
.dropdown-menu .dropdown ul.dropdown-menu{
  display: block;
}
li.dropdown ul.dropdown-menu li.dropdown{
  border-right: solid 1px #ccc;
  min-width: 195px;
}
li.dropdown ul.dropdown-menu li.dropdown:last-of-type {
    border-right: none;
}
.dropdown-menu > li > a {
    padding: 3px 15px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: -50px;
}
li.dropdown ul.dropdown-menu li.dropdown:last-of-type ul.dropdown-menu{
  border-right: none;

}
ul[role="menu"].dropdown-menu li.dropdown ul.dropdown-menu{
background-color: #fff;
    margin-top: 0;
    border: none;
    box-shadow: none;
    min-height: auto;
    border-right: solid 1px #ccc;
    width: 101%;
    min-width: 100%;
}
ul[role="menu"].dropdown-menu li.dropdown ul.dropdown-menu li a{
  color: #9e9e9e;
}

.internas .fones{
    color: #003768;
}
.fones{
    margin-top: 17px;
    float: left;
    position: relative;
    font-size: 14px;
    color: #fff;
}
.fones .fa.fa-phone-square:after{
    content: " ";
    width: 20px;
    height: 10px;
    float: left;
    position: relative;
}
/* MENU PRINCIPAL */
ul#menu-principal-1{
      margin-bottom: 0px;
	display: -webkit-inline-box;
    -webkit-padding-start: 0px;
    width: 100%;
    display: flex;
    /*border-bottom: solid 1px #7a7a7a;*/
}
ul#menu-principal-1 li{
    height: 25px;
    list-style: none;
    /* border-right: dashed 1px #000; */
    /* background-color: #fff; */
    padding-left: 6px;
    text-align: left;
    display: table;
    padding-right: 6px;
}
.open > .dropdown-menu {
    display: block;
    display: -webkit-inline-box;
    /*margin-top: -1px!important;*/
}
/*ul#menu-principal-1 li:last-child{
	border-right: none;
    width: 9%;
    float: right;
}*/
ul[role="menu"].dropdown-menu li.dropdown ul.dropdown-menu li {
    width: 100%;
    text-align: left !important;
        
}
ul#menu-principal-1 li span{
	display: table-cell;
    vertical-align: middle;
}
.internas ul#menu-principal-1 li span a {
    color: #003768;
    background: transparent;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'robotoregular';
}
.internas ul#menu-principal-1 li span a:hover{
    background: #1ab7ea;
    border-radius: 3px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}
ul#menu-principal-1 li span a {
background: transparent;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 14px;
    color: #6b6a6a;
    font-family: 'opensans-light';
    font-weight: 700;
}
ul#menu-principal-1 li span a:hover{
    background: #1ab7ea;
    border-radius: 3px;
    padding: 10px 15px;
    text-decoration: none;
}
/* MENU MOBILE */
.navMobile nav{
    margin-top: 0;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
    height: 81px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
    height: auto;
}
.navMobile ul#menu-principal{
display: block;
    -webkit-padding-start: 0px;
    width: 100%;
    margin-bottom: 0;
    border-bottom: none;
}
.navMobile ul#menu-principal li {
    width: 100%;
    height: 50px;
    border-right: none;
    display: inline-block;
    display: table;
    border-top: solid 1px #fff;
    padding: 0 20px;
}
.navMobile ul#menu-principal li:hover{
    background: #FF612E;
}
.navMobile ul#menu-principal li:first-child{
    border:0;
}
.navMobile ul#menu-principal li:last-child{
    border-right: none;
}
.navMobile ul#menu-principal li span{
    display: table-cell;
    vertical-align: middle;
}
.navMobile ul#menu-principal li a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #1d1c1c;
    font-weight: bold;
    font-family: 'robotoregular';
}
.showBusca{
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
}
.divMenuMobile {
    right: 5px;
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 999999;
    top: 6px;
}
header.header .menuMobile {
    opacity: 1;
    transition: opacity 0.7s;
}
.header .navMobile{
    top: 111px;
    left: -110%;
    background: #181f3d;
    z-index: 999999;
    position: absolute;
    padding-bottom: 0;
    /* box-shadow: 0px 1px 14px 7px rgba(0,0,0,0.5); */
}

/* POST LISTA */
.img-post-list{
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    border-bottom: solid 3px #ccc;
    position: relative;
    float: left;
}
.post-content-wrap h1.entry-title{
    position: relative;
    float: left;
    display: block;
    width: 100%;
}
.post-content-wrap h1.entry-title a{
display: block;
    font-family: 'opensans-regular';
    color: #939393;
    font-size: 24px;
    /* font-weight: 600; */
    text-decoration: none;
}
.post-content-wrap .author-list{
    font-family: 'opensans-regular';
    /*font-weight: 600;*/
    color: #7f8c8c;
        margin-top: 8px;
        font-size: 14px;
}
.post-content-wrap .author-list span{
    color: #003768;
}
.content-padder article{
    position: relative;
    float: left;
    display: block;
    border-bottom: solid 3px #ccc;
    margin-bottom: 40px;
    width: 100%;
}
.post-content-wrap .excerpt-list{
    color: #7f8c8c;
    font-size: 14px;
    margin-top: 15px;
    font-family: 'opensans-regular';
}
.post-content-wrap a.read-more{
    display: block;
    float: left;
    margin-bottom: 40px;
    color: #003768;
    font-size: 14px;
        font-family: 'opensans-regular';
}
.post-content-wrap a.read-more i{
    color: #1ab7ea;
    margin-left: 10px;
}
h1.page-title{
    font-family: 'robotoblack';
    /* font-weight: 900; */
    font-size: 34px;
    text-align: left;
    color: #1ab7ea;
}
.container.content-list{
    margin-top: 280px;
}
.sidebar-padder h3 {
    margin-top: 44px;
    font-family: 'opensans-bold';
    font-size: 16px;
    color: #939393;
    margin-bottom: 24px;
}
.sidebar-padder aside:first-of-type h3{
    margin-top: 0px;
}
aside#category ul{
    list-style: none;
    -webkit-padding-start: 0px;
}
aside#category ul li {
        margin: 10px 0;
}
aside a{
    color: #003768;
    font-size: 14px;
    font-family: 'robotoregular';
    /* font-weight: 800; */
    text-transform: none;
}
aside:first-of-type a{
    text-transform: uppercase;
}
aside i{
    color: #7f8c8c;
    margin-right: 10px
}
aside .tituloPost{
    border-bottom: solid 1px #ccc;
    padding-bottom: 14px;
    margin-bottom: 14px;
}
aside .tituloPost p{
        margin: 0 8px 10px;
}
aside .tituloPost span{
    margin-left: 17px;
}
aside#tags ul, aside#archives ul{
        -webkit-padding-start: 0;
        list-style: none;
}
aside h2.widgettitle{
    display: none
}
.tagcloud a{
    color: #ffffff;
    background: #939393;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'robotoregular';
    display: -webkit-inline-box;
    margin: 5px;
}
.tagcloud a:hover{
    background: #1ab7ea;
    text-decoration: none;
}
.pagination .page-numbers{
    width: 40px;
    height: 40px;
    display: -webkit-inline-box;
    background: #939393;
    padding: 14px 15px 0;
    border-radius: 3px;
    margin: 0 3px;
    font-family: 'robotoblack';
    color: #fff;
    font-size: 14px;
}
.pagination .page-numbers i{
        margin: -1px;
}
.pagination .page-numbers.current, .pagination .page-numbers:hover{
    background: #181f3d;
}
.pagination .next.page-numbers{
        margin-left: 20px;
}
.pagination .prev.page-numbers{
        margin-right: 20px;
}
/* BANNER BIG E AFILIADOS */
.bannerBig{
    height: 415px;
}
.container-banner {
    width: 100%;
    margin-top: 0;
    height: 100%;
    margin-bottom: 0;
    z-index: 1;
}
.empresa .banner-info.container{
    margin-top: 232px;
}
.internas .boxBanner.bannerCapa{
    min-height: 200px;
}
.internas .boxBanner.bannerCapa{
    min-height: 200px;
}
.internas .boxLinksBanner{
margin-top: 68px;
}
.internas .boxLinksBanner ul{
      -webkit-padding-start: 0px;
    display: inline-flex;
    list-style: none;
    width: 80%;
}
.internas .boxLinksBanner ul li{
    width: 33%;
    border-bottom: solid 1px #fff;
    padding: 10px;
}
.internas .boxLinksBanner ul li a{
    color: #fff;
    font-family: 'robotothin';
    font-size: 16px;
    /* padding: 15px; */
    display: block;
}
.boxLinksBanner ul li a.active{
  color:#1ab7ea;
}
.boxLinksBanner ul li.active{
  border-bottom: solid 1px #1ab7ea;
}
.internas .boxLinksBanner ul li:hover a{
  text-decoration: none;
  color:#1ab7ea;
}
.internas .boxLinksBanner ul li.active, .internas .boxLinksBanner ul li:hover{
  border-bottom: solid 1px #1ab7ea;

}

.boxBanner.bannerCapa{
    min-height: 600px;
}
.empresa .container-banners {
    position: relative;
    text-align: center;
    z-index: 1;
    /* bottom: 190px; */
    margin-top: 30px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    /*top: 100px;*/

}
.contato .container-banners {
    position: relative;
    text-align: center;
    z-index: 1;
    /* bottom: 190px; */
    /* margin-top: 0; */
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    /* top: 100px; */
}
.container-banners {
  display: table-cell;
    vertical-align: middle;
}
.banner-info {
}
.internas .banner-info .boxInfoBanner{

    /*width: auto;*/
}
.banner-info .boxInfoBanner{
/*    padding: 20px 60px;
    height: 150px;
    position: absolute;*/
    /*width: 100%;*/
}
.internas .banner-info h4{
        color: #fff;
    font-size: 28px;
    margin-top: -7px;
    font-family: 'opensans-light';
    font-weight: 900;
    font-size: 60px;
    text-align: left;
}
.banner-info h4{
    color: #fff;
    margin-top: -7px;
    font-family: 'opensans-light';
    font-weight: 900;
  font-size: 50px;
}
.internas .banner-info opensans-lights{
    font-size: 28px;
    font-family: 'robotothin';
    color: #1ab7ea;
    margin-top: 30px;
        text-align: left;
            line-height: 26px;
}
.banner-info p{
    font-size: 18px;
    font-family: 'opensans-light';
    color: #ffffff;
    margin-top: 30px;
    line-height: 26px;
}
.carousel{
    position:relative;
}
.internas .empresa .carousel-inner{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 450px;
}
.internas .carousel-inner{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 200px;
}
.carousel-inner{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 620px;
}
.carousel-inner>.item{
    display:none;
    position:relative;
    /*-webkit-transition:0.5s ease-in-out left;
    transition:0.5s ease-in-out left;*/
    -webkit-transition:0.5s ease-in-out ;
    transition:0.5s ease-in-out ;
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img{
    display:block;
    max-width:100%;
    height:auto;
    line-height:1;
}
.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev{
    /*display:block;*/
    display: table;
}
.carousel-inner>.active{
    left:0;
}
.carousel-inner>.next,
.carousel-inner>.prev{
    position:absolute;
    top:0;
    width:100%;
}
.carousel-inner>.next{
    left:100%;
}
.carousel-inner>.prev{
    left:-100%;
}
.carousel-inner>.next.left,
.carousel-inner>.prev.right{
    left:0;
}
.carousel-inner>.active.left{
    left:-100%;
}
.carousel-inner>.active.right{
    left:100%;
}
.carousel-control{
    position: absolute;
    display: block;
    }
.carousel-control.left{
    text-decoration: none;
    background:url('images/arrow_left.png');
    background-repeat:no-repeat;
    background-size: 24px;
    background-position: 25% 50%;
    width: 35px;
    height: 35px;
        z-index: 999;
    top: 43%;
    right: auto;
    float: left;
    left: 15px;
    border: none;
}
.carousel-control.right{
    text-decoration: none;
    background: url(images/arrow_right.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 45% 50%;
    width: 35px;
    height: 35px;
        z-index: 999;
    top: 43%;
    right: 15px;
    float: right;
    left: auto;
    border: none;
}
.carousel-control:hover,.carousel-control:focus{color:#ffffff;text-decoration:none;opacity:0.9;filter:alpha(opacity=90);}
.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right{position:absolute;top:50%;left:50%;z-index:5;display:inline-block;}
.carousel-control .icon-prev,.carousel-control .icon-next{width:20px;height:20px;margin-top:-10px;margin-left:-10px;font-family:serif;}
.carousel-control .icon-prev:before{content:'\2039';}
.carousel-control .icon-next:before{content:'\203a';}
.carousel-indicators{position: absolute; display:none; bottom: 10px;z-index: 1;margin: 0 auto;padding-left: 0;list-style: none;text-align: center;width: 100%;}
.carousel-indicators li{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px 5px 1px 5px;
    text-indent: -999px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.2s;
}
.carousel-indicators li:hover{
    background-color: #1ab7ea;
}
.carousel-indicators .active{
    margin: 0px 5px -3px 5px;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    background-color: #1ab7ea;
    transition: all 0.2s;
}
.carousel-caption{position:absolute;left:15%;right:15%;bottom:20px;z-index:10;padding-top:20px;padding-bottom:20px;color:#ffffff;text-align:center;text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);}.carousel-caption .btn{text-shadow:none;}

/*--------------------------------------------- FOOTER */
.footer {
	display: block;
	position: relative;
	float: left;
	width: 100%
}
.container.containerFooter{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row.foot1{
    background-color: #2a2a2a;
}
.row.foot2{
    background-color: #181f3d;
        margin-top: 50px;
}
.container.foot4{
  height: 1px;
    /* background-image: url(images/barra-footer.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-bottom: 28px;
    margin-top: 10px;
    background-color: #181f3d;
}
.row.foot3{
    background: #14152b;
    text-align: center;
    color: #4d4d4d;
    font-family: 'opensans-regular-light';
    font-size: 12px;
        padding-top: 20px;
}
.row.foot3 .logo img{
    float: left;
    position: relative;
}
.row.foot3 .logo .copy{
    display: inline-flex;
    float: left;
    margin: 7px 15px;
    font-family: 'robotothin';
}
.row.foot3 .assinatura{
        text-align: right;
            margin-top: 14px;
}
.row.foot3 .assinatura img{
    position: relative;
}
.row.foot3 .assinatura .copy{
    display: inline-flex;
    margin: 7px 15px;
    font-family: 'robotothin';
}
.footer .contentInfo {
    padding-top: 30px;
    padding-bottom: 30px;
}
.containerFooter .sobre h3 {
    color: #ffffff;
    font-family: 'robotoregular';
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 10px;
    text-align: left;
}
.containerFooter .sobre ul{
  display: -webkit-box;
    list-style: none;
    -webkit-padding-start: 0px;
}
.containerFooter .sobre li{
  padding: 4px;
  color: #fff;
}
.containerFooter .sobre li span{
  width: 25px;
  height: 25px;
  background-image: url(images/bg-sociais.png);
  display: -webkit-box;
  background-color: #fff;
  transition: background-position 0.4s;
}
.containerFooter .sobre li span:hover{
  transition: background-position 0.2s;
}
.containerFooter .sobre li span.facebook{
  background-position: 0px 26px;
}
.containerFooter .sobre li span.facebook:hover{
  background-position: 0px 0px;
}
.containerFooter .sobre li span.linkedin{
  background-position: -33px 26px;
}
.containerFooter .sobre li span.linkedin:hover{
  background-position: -33px 0px;
}
.containerFooter .sobre li span.twitter{
  background-position: -66px 26px;
}
.containerFooter .sobre li span.twitter:hover{
  background-position: -66px 0px;
}
.containerFooter .sobre li span.youtube{
  background-position: -98px 26px;
}
.containerFooter .sobre li span.youtube:hover{
  background-position: -98px 0px;
}
.containerFooter .idioma select{
    width: 130px;
    float: right;
    background-color: #14152b;
    color: #fff;
    border-radius: 4px;
    border: solid 2px;
}
.containerFooter .idioma select option{

}
.footer .contentInfo h3{
  color: #ffffff;
  font-family: 'robotoregular';
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 10px;
}
.footer .contentInfo h3 a{
      color: #ffffff;
    font-family: 'robotoregular';
    font-size: 16px;
}
.footer .contentInfo h3.h31{
  margin-bottom: 25px;
  margin-top: 20px;
}
.footer .contentInfo h3.h33{
  margin-bottom: 0px;
      margin-top: 20px;
}
.footer .contentInfo p{
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    font-family: 'robotothin';
    color: #acafb0;
    margin-bottom: 10px;
    line-height: 26px;
    padding-right: 40px;
    margin-top: 20px;
}
.footer .contentInfo .sobre p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0;
}
.footer .contentInfo .divPosts .post{
    margin-bottom: 18px;
}
.footer .contentInfo .divPosts .post .imgPost{
    
}
.footer .contentInfo .divPosts{
  margin-top: 42px;
}
.footer .contentInfo .divPosts h3,.footer .contentInfo .divNews h3{
    color: #ffffff;
    font-family: 'robotoregular';
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 24px;
}
.footer .contentInfo .divPosts .sobre h3{
  margin-bottom: 10px;
}
.footer .sobre p a{
  color: #acafb0
}
.footer .sobre p a:hover{
  color: #fff;
}
.footer .contentInfo .divPosts .tituloPost p {
    color: #8a9ca9;
    margin-top: 0;
    padding-right: 0;
    margin-bottom: 0;
    line-height: 24px;
}
.footer .contentInfo .divPosts .tituloPost a{
    color: #fff;
}
.footer .contentInfo .divPosts .tituloPost span{
    color: #6d7a83;
}

.divNews .input input{
    height: 42px;
    padding: 0 20px;
    color: #666;
    border-radius: 4px;
    border-color: transparent;
    border: none;
    font-family: 'robotothin';
    font-size: 18px;
}
.divNews .botao{
 text-align: right;
}
.divNews .botao button{
    width: 150px;
    height: 40px;
    top: 10px;
}
.divNews .divCadastresse{

}
.divNews p{
	color: #fff;
	font-size: 12px;
	margin: 10px 0 0;
	font-weight: 700;
    font-family: 'robotoregular';
}

div.wpcf7-mail-sent-ok {
    border: none;
}
#message-warning, #message-success {
    display: none;
    padding: 0px 24px;
    width: 65%;
}

div.wpcf7-response-output {
position: relative;
    margin: 10px 0px;
    /* padding: 30px 15px 0px; */
    font-size: 14px;
    font-family: 'opensans-regular';
    font-weight: 600;
    float: left;
    color: rgba(255, 0, 0, 0.77);
    text-align: LEFT;
    width: 100%;
}
.btn-contato{
  float: right;
  background-color: #181f3d;
  color: #fff;
  height: 40px;
  width: 140px;
  padding: 0px 20px !important;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (min-width:200px) {
	.container {
      /*padding-right: 15px !important;
        padding-left: 15px !important;*/
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (max-width:480px) {
    .header .navMobile {top: 74px;}
    .logo{text-align: center;}
}
@media only screen and (min-width:480px) {}
@media only screen and (max-width:550px) {}
@media only screen and (min-width:767px) {
    .container {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
    ul#menu-principal li{width: 14.28%;height: 80px;list-style: none;border-right: dashed 1px #000;background-color: #fff;padding-left: 2%;text-align: center;display: table;padding-right: 2%;}
    .dataBox {float: left;width: auto;}
    .loginHeader .infoHeader:first-child p {    margin-bottom: 3px;
    margin-top: 3px;}
    .loginHeader .infoHeader:last-child {padding-right: 15px;background: none;}
}
@media only screen and (max-width:500px) {
    .banner-parceiros-home .banner ul{
            display: block !important;
    } 
}
@media only screen and (max-width:768px) {
    .ender .form div.wpcf7 {
        margin: 0;
        padding: 0 0 0 0;
    }
    .container.content-list {
        margin-top: 10px;
    }
    .divNews .botao button {
        width: 100%;
        height: 40px;
        top: 10px;
    }
    .row.foot3 .logo img {
        float: left;
        position: relative;
        margin-left: 19%;
    }
    .row.foot3 .assinatura {
        text-align: center;
        margin-top: 14px;
    }
    .btn-banner {
        width: 240px;
        width: 100%;
    }
    .row.servicos-home .botao {
        text-align: center;
        margin-bottom: 50px;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .navMobile ul#menu-principal li a {
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        color: #fff;
        font-weight: 100;
        font-family: 'robotoregular';
        display: block;
        transition: all 0.5s;
    }
    .navMobile ul#menu-principal li a:hover {transition: all 0.5s; margin-left: 5px;}
    .header {
        display: block;
        padding: 0px 0 10px 0;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .divInfos{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .container.divHeader.navbar-fixed-top.p0{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .divHeader,  .divHeader.container ,.internas .divHeader {
        background: #f2f2f2;
    }

    .row.intro-home {
        margin-top: 0;
    }
    .fones {
        margin-top: 9px;
        float: left;
        position: relative;
        font-size: 14px;
        color: #fff;
        width: 100%;
        text-align: center;
        margin-bottom: 9px;
    }
    .row.rowHeader{
        height: 100px;
    }
    .navMobile ul {border-bottom: none;}
    .navMobile nav {margin-top: 0;box-shadow: none;height: 81px;padding-left: 0;
    padding-right: 0;margin-bottom: 0;list-style: none;height: auto;border: none;}
    .navMobile form div:last-child{padding-left: 0px !important;}
    .navMobile form div:nth-child(2) {
        padding-right: 0px !important;
        padding-left: 2px !important;
    }
    header.header .menuMobile{
        margin: 10px 0px;
        cursor: pointer;
        font-size: 40px;
        color: #181f3d;

    }
    .internas .menuMobile {
        margin: 2px 0px;
        color: #1ab7ea !important;
    }
    .logo-img {
        width: 200px !important;
        margin-top: 11px !important;
    }
    .logo{text-align: center;}
}
@media only screen and (max-width:1210px) {
    .know-how-home section {
        padding: 2% 0 0 20px;
    }
    .know-how-home .texto p {
        font-family: 'robotothin';
        font-size: 18px;
        line-height: 30px;
        margin-top: 10px;
    }
}
@media only screen and (max-width:1190px) {
    .intro-home .texto p {
        line-height: 30px;
    }
    .know-how-home .texto h3 {
        font-family: 'robotoblack';
        font-size: 60px;
        color: #4eb2e5;
        margin-top: 0;
    }
}
@media only screen and (max-width:990px) {
  .internas .boxLinksBanner {
    margin-top: 15px;
}
.internas .boxLinksBanner ul{
  display: block;
  width: 100%;
}
.internas .boxLinksBanner ul li {
    width: 100%;
  }
.empresa .banner-info.container {
     margin-top: 20px;
}
  .empresa .textos {
    margin-bottom: 0px;
    margin-top: 10px;
}
.empresa .faca-parte h3 {
    margin-top: 50px;
  }
  .cobranca .texto h3 {
    margin-top: 20px;
  }
  .empresa .info {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .container.content-list.empresa {
    margin-top: 490px;
  }
  .row.foot2 {
   
    margin-top: 0;
  }
  .empresa .faca-parte p {
    
    width: 100%;
  }
  .internas .banner-info p {
    font-size: 28px;
    font-family: 'robotothin';
    color: #1ab7ea;
    margin-top: 30px;
    line-height: 28px;
}
.servicos .faca-parte h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container.content-list.servicos .info {
    margin-top: 20px;
}
.container.content-list.servicos .info .img {
    text-align: center;
  }
  .container.content-list.servicos .info .titulo {
    line-height: 25px;
    text-align: center;
  }
  .row.segmentos {
    padding-bottom: 30px;
  }
  .row.processo .img {
    height: 210px;
}
.container.content-list.servicos {
    margin-top: 480px;
    padding-bottom: 60px;
}
  .cobranca .cobserv {
    width: 100%;
    margin-left: 0;
    border-bottom: solid 1px #ccc;
}
.container.content-list.cobranca {
    margin-top: 30px;
    padding-bottom: 70px;
}
.processo .texto {
    padding: 0;
}
.servicos .titulo p {
    width: 100%;
}
.servicos .faca-parte p {
    
    width: 100%;
  }
  .container.content-list.servicos .info .description {
      margin: 0;
    width: 100%;
    text-align: center;
  }
  .container.content-list.servicos.segmentos {
    margin-top: 0px;
    padding-bottom: 0px;
}
    .row.know-how-home {
        height: 100%;
    }
    .know-how-home .texto{
        margin: 30px 0;
        padding: 0;
    }
    .row.servicos-home .botao {
        text-align: center;
        margin-bottom: 50px;
    }
    .row.servicos-home ul li{
        text-align: center;
    }
    .row.servicos-home {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .servicos-home .texto {
        position: relative;
        width: 100%;
        left: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .row.negocie-home {
        margin-top: 0px;
    }
     .logo-img {
        width: 200px !important;
        margin-top: 11px !important;
    }
    .header {
        display: block;
        padding: 0px 0 10px 0;
        height: auto;
    }
}
@media only screen and (min-width:991px) {}
@media only screen and (max-width:1024px) {}
@media only screen and (min-width:1024px) {}
@media only screen and (max-width:1140px) {
}
@media only screen and (min-width:1140px) {}
@media only screen and (max-width:1200px) {}
@media only screen and (max-width:1300px) {}
@media only screen and (min-width:1280px) {}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    background-color: #14152b;
        min-width: 140px;
}
.table > colgroup + thead > tr > th.primeira{
  background: #fff;
}
.table > colgroup + thead > tr > th h2 {
    font-size: 30px;
    text-align: center;
    color: #fff;
        margin-top: 10px;
    font-size: 16px;
}
.table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    background: #eceaea;
    border: solid 1px #fff;
    padding: 20px;
        color: green;
}

.table > tbody > tr > th.recursos{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    background: #e6e3e3;
    border: solid 1px #fff;
    padding: 20px;
        color: #14152b;
}
.table-responsive {
    min-height: .01%;
    overflow-x: hidden;
}
.descontoSEP{
color: #fff;
    width: 51px;
    height: 52px;
    display: -webkit-inline-box;
    border-radius: 23px;
    padding: 16px 9px;
    background: url(images/bg-descontoSEP.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
}
.table > tbody > tr > td.custos {
    color: #14152b !important;
}
.table > tbody > tr > td .fa{
      font-size: 24px;
    color: #03b93d;
}
.table > tfoot > tr > td{
  font-size: 20px;
  color: #14152b;
  font-weight: 600;
}
.table > tfoot > tr > td.valor span{
      font-size: 16px;
    
}
a.btn.btn-primary.btn-block.text-uppercase {
    border-radius: 5px;
    padding: 12px 9px 29px !important;
    background: #7fdcf9;
    font-weight: 600;
    border: none;
}

.table > tfoot > tr > td,.table > tfoot > tr > th{
  background: #fff;
}
.assine .content-relacionados,.assine .content-relacionados:first-of-type {
    padding: 0 15px !important;
  }