@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  min-width:290px;
}@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

#all{
	width:100%;
	height:500px;
background-color:white;
	float:left;
	
}

#header{
	width:100%;
	height:70px;
		border-radius: 6px;
		border:1px solid #cfcfcf;
	float:left;
	margin-bottom:20px;
	
	
}
#container{
	width:90%;


	margin:auto;
	
}

#user{
	width:100%;
padding-bottom:20px;

	float:left;
	

}

#infos{

	width:100%;
font-size:14px;
	float:right;
	text-align:right;
	
}

#fechar{
	width:80px;
	height:30px;
	background-color:WHITE;
	float:right;
	margin-top:-30px;
	padding-top:6px;
	padding-right:9px;
	
}
#name{


	float:LEFT;
font-size:14px;   
	font-family: 'Open Sans', sans-serif;			 
	line-height: 1.5; 

	font-weight: 300;
	margin-left:14px;	margin-top:14px;
}#name02{


	float:right;
font-size:14px;   
	font-family: 'Open Sans', sans-serif;			 
	line-height: 1.5; 
text-align:right;
	font-weight: 300;
	margin-left:14px;	margin-top:14px;
}#name04{


	float:right;
font-size:14px;   
	font-family: 'Open Sans', sans-serif;			 
	line-height: 1.5; 
text-align:right;
	font-weight: 300;
	margin-left:14px;	margin-top:14px;
}#name03{


	float:right;
font-size:14px;   
	font-family: 'Open Sans', sans-serif;			 
	line-height: 1.5; 
width:35px;
height:35px;
	font-weight: 300;
	margin-left:14px;margin-right:18px;	margin-top:14px;
}
#divid{
	width:100%;
	height:1px;
	background-color:black;
}
#p1{
	width:33%;
	height:1px;
	background-color:black;
	float:left;
	
}#p2{
	width:33%;
	height:1px;
	background-color:black;
	float:left;
	
}#p3{
	width:33%;
	height:1px;
	background-color:black;
	float:left;
	
}
#acess{
	font-size:16px;   
	font-family: 'Open Sans', sans-serif;			 
	line-height: 1.2; 
margin-right:33px;
	font-weight: 600
	
}

select#gender option[value="male"]   { background-image:url(s.png);   }
select#gender option[value="female"] { background-image:url(female.png); }
select#gender option[value="others"] { background-image:url(others.png); }
#acess select{
	width:253px;
	
			    background: #fff url("../s.png") no-repeat 93% 50%;
		font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
-webkit-appearance: none;
	font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
	    border-radius: 3px;
    padding: 10px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
	   -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
}
#acess2{
	font-size:16px;   
	font-family: 'Open Sans', sans-serif;			 
	line-height: 1.2; 
margin-right:33px;
	font-weight: 600
	
}
#acess2 select{
	width:253px;
			
		font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
-webkit-appearance: none;
	font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
	    border-radius: 3px;
    padding: 10px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
	   -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
}


#traco{
	width:100%;
	height:1px;
	background-color:#a2a2a2;
	margin-top:5px;	
	margin-bottom:5px;
}

#acess1{
	font-size:16px;   
	font-family: 'Open Sans', sans-serif;			 
	line-height: 1.2; 
margin-right:200px;
	font-weight: 600
	
}
#photo{
	width:120px;
	height:120px;
	float:left;

	margin:15px;
	
}
#info{
	width:100%;
	height:150px;

}
#body{width:100%;float:left;}

.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .3s;
  animation-timing-function: ease-out;
  background-color:red;
}

.modal-header {
  padding: 20px 40px;
  background: #fff;
  color: #ffffff;
  border:1px black;
}

.modal-body {
  background: #ECEFF1;
  padding: 60px 40px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
  color:black;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

/* Aditional Styles */
* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

p {
  line-height: 1.4em;
}

body {
  background: #1a1f3e;
}

.modal-trigger, button {
  top: 50%;
  left: 50%;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.modal-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: ease .2s;
}

button {
  border: 1px solid #333333;
  outline: none;
  color: #333333;
}

.modal-trigger:hover {
  padding: 20px 60px;
}