/* AccessPress Social Login lite - Frontend css */

div.social-networks a{
	border-bottom:none;
  text-decoration: none;
  display: -webkit-inline-box;
}

.theme-1 .apsl-long-login-text,.theme-1 .apsl-login-text{
    display: none;
}

.theme-2 .apsl-login-text,.theme-2 .apsl-long-login-text {
    display: none;
}

.theme-3 .apsl-long-login-text,.theme-3 .apsl-login-text {
    display: none;
}

.theme-4 .apsl-login-text {
  display: none;
}

.apsl-icon-block {
    margin-bottom:10px;

}

.theme-1 .fa.fa-facebook:hover,.theme-1 .fa.fa-twitter:hover,.theme-1 .fa.fa-google:hover,
.theme-1 .fa.fa-linkedin:hover,.theme-1 .fa.fa-instagram:hover,.theme-1 .fa.fa-vk:hover,
.theme-1 .fa.fa-foursquare:hover,.theme-1 .fa.fa-wordpress:hover, .theme-1 .fa-buffer:hover 

{
    opacity:0.5;
    -webkit-transition: all 1s ease;/* Safari 3.2+, Chrome */
    -moz-transition: all 1s ease;/* Firefox 4-15 */
    -o-transition: all 1s ease;/* Opera 10.5-12.00 */
    transition: all 1s ease;/* Firefox 16+, Opera 12.50+ */
}
.theme-2 .fa.fa-facebook:hover,.theme-2 .fa.fa-twitter:hover,.theme-2 .fa.fa-google:hover,
.theme-2 .fa.fa-linkedin:hover,.theme-2 .fa.fa-instagram:hover,.theme-2 .fa.fa-vk:hover,
.theme-2 .fa.fa-foursquare:hover,.theme-2 .fa.fa-wordpress:hover, .theme-2 .fa-buffer:hover

{background:none;
  -webkit-transition: all 1s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 1s ease;/* Firefox 4-15 */
  -o-transition: all 1s ease;/* Opera 10.5-12.00 */
  transition: all 1s ease;/* Firefox 16+, Opera 12.50+ */
}

.theme-3 .fa.fa-facebook:hover,.theme-3 .fa.fa-twitter:hover,.theme-3 .fa.fa-google:hover,
.theme-3 .fa.fa-linkedin:hover,.theme-3 .fa.fa-instagram:hover,.theme-3 .fa.fa-vk:hover,
.theme-3 .fa.fa-foursquare:hover,.theme-3 .fa.fa-wordpress:hover, .theme-3 .fa-buffer:hover{
opacity:0.8;
background-color: #9D1C20;
 -webkit-transition: all 1s ease;/* Safari 3.2+, Chrome */
    -moz-transition: all 1s ease;/* Firefox 4-15 */
    -o-transition: all 1s ease;/* Opera 10.5-12.00 */
    transition: all 1s ease;/* Firefox 16+, Opera 12.50+ */

}

 .theme-3 .fa.fa-facebook {
    background: #3b5999 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
       text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-3 .fa-buffer {
    background:  url("../images/buffer.png") no-repeat scroll center center;
        border-radius: 5px;
    color: #ffffff;
       text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 38px;
    background-color: #000
}

.theme-3 .fa.fa-twitter {
    background: #42d3ff none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
       text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-3 .fa.fa-google {
    background: #dd4b39 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 0;
       text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-3 .fa.fa-linkedin {
    background: #42d3ff none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 1px;
       text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-3 .fa.fa-instagram {
    background: #3f729b none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 3px;
        text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-3 .fa.fa-vk {
    background: #5e5959 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 3px;
      text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-3 .fa.fa-foursquare {
    background: #80b63e none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 3px;
        text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-3 .fa.fa-wordpress {
    background: #8f8f8f none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 3px;
        text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-1 .fa.fa-facebook {
  background: #0073AA none repeat scroll 0 0;
  border-radius: 24px;
  color:#fff;
  text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
  width: 40px;
   
}

.theme-1 .fa-buffer {
    background: rgba(0, 0, 0, 0) url("../images/buffer.png") no-repeat scroll center center;
    border-radius: 24px;
    color: #ffffff;
    display: table-cell;
    font-size: 20px;
    height: 39px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    background-color: #333333
}

.theme-1 .fa.fa-twitter {
    background: #1FCCFF none repeat scroll 0 0;
    border-radius: 24px;
    color:#fff;
    text-align: center;
    height: 39px;
    font-size: 20px;
    vertical-align: middle;
    display: table-cell;
    width: 40px;
}

.theme-1 .fa.fa-google {
    background: #DE4B3B none repeat scroll 0 0;
    border-radius: 24px;
    color: #ffffff;
       margin-left: 1px;
         text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-1 .fa.fa-linkedin {
    background:#3F739A none repeat scroll 0 0;
    border-radius: 24px;
    color: #ffffff;
    margin-left: 2px;
    text-align: center;
    height: 39px;
    font-size: 20px;
    vertical-align: middle;
    display: table-cell;
    width: 40px;
}

.theme-1 .fa.fa-instagram {
    background: #ff0000 none repeat scroll 0 0;
    border-radius: 24px;
    color: #ffffff;
    margin-left: 4px;
    text-align: center;
    height: 39px;
    font-size: 20px;
    vertical-align: middle;
    display: table-cell;
    width: 40px;
}

.theme-1 .fa.fa-vk {
background:#BF0808 none repeat scroll 0 0;
border-radius: 24px;
color: #ffffff;
margin-left: 5px;
text-align: center;
height: 39px;
font-size: 20px;
vertical-align: middle;
display: table-cell;
width: 40px;
}
.theme-1 .fa.fa-foursquare {
    background:#8F8F8F none repeat scroll 0 0;
    border-radius: 24px;
    color: #ffffff;
       margin-left: 5px;
       text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}

.theme-1 .fa.fa-wordpress {
    background:#5F5959 none repeat scroll 0 0;
    border-radius: 24px;
    color: #ffffff;
       margin-left: 5px;
      text-align: center;
  height: 39px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 40px;
}
.theme-2 .fa.fa-facebook {
    background: #1C74BC none repeat scroll 0 0;
    color: #ffffff;
        text-align: center;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 38px;
    border: 1px solid #1C74BC; 
}

.theme-2 .fa-buffer {
    background:  url("../images/buffer.png") no-repeat scroll center center;
        color: #fff;
        text-align: center;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
display: table-cell;
    width: 38px;
        border: 1px solid #333333;
        background-color: #333333
}

.theme-2 .fa.fa-twitter{
background: #24B4F3 none repeat scroll 0 0;
    color: #ffffff;
         text-align: center;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 38px;
        border: 1px solid #24B4F3;

}

.theme-2 .fa.fa-google{
    background: #86C344 none repeat scroll 0 0;
    color: #ffffff;
          text-align: center;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 38px;
        border: 1px solid #86C344;

}

.theme-2 .fa.fa-linkedin{
    background: #0000ff none repeat scroll 0 0;
    color: #ffffff;
          text-align: center;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 38px;
        border: 1px solid #0000ff;


}

.theme-2 .fa.fa-instagram{
     background: #D93232 none repeat scroll 0 0;
    color: #ffffff;
        text-align: center;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 38px;
        border: 1px solid #D93232;

}

.theme-2 .fa.fa-vk{
    background: #B7BABB none repeat scroll 0 0;
    color: #ffffff;
        text-align: center;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 38px;
        border: 1px solid #B7BABB;

}

.theme-2 .fa.fa-foursquare{
    background: #211F20 none repeat scroll 0 0;
    color: #ffffff;
       text-align: center;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 38px;
        border: 1px solid #211F20;

}

.theme-2 .fa.fa-wordpress{
    background:#4E624F none repeat scroll 0 0;
    color: #ffffff;
        text-align: center;
  height: 38px;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
    width: 38px;
        border: 1px solid #4E624F;

}

.theme-2 .fa.fa-google:hover{
      border: 1px solid #86C344; 
  color: #86C344 ;

}
.theme-2 .fa.fa-facebook:hover{
      border: 1px solid #1C74BC; 
  color: #1C74BC ;

}

.theme-2 .fa.fa-twitter:hover{
      border: 1px solid #24B4F3; 
  color: #24B4F3 ;

}

.theme-2 .fa.fa-instagram:hover{
      border: 1px solid #D93232; 
  color: #D93232 ;

}

.theme-2 .fa.fa-foursquare:hover{
      border: 1px solid #211F20; 
  color: #211F20 ;

}

.theme-2 .fa.fa-wordpress:hover{
      border: 1px solid #4E624F; 
  color: #4E624F ;
 

}

.theme-2 .fa.fa-linkedin:hover{
      border: 1px solid #0000ff; 
  color: #0000ff ;
 

}

.theme-2 .fa.fa-vk:hover{
      border: 1px solid #B7BABB; 
  color: #B7BABB ;
}

.theme-2 .fa-buffer:hover{
  background:  url("../images/buffer-black.png") no-repeat scroll center center;
  border: 1px solid #333333; 
  background-color: #fff ;
}

.theme-4 .apsl-icon-block.icon-facebook {
    background: #48629b none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    line-height: 22px;
    padding: 7px 15px;
    vertical-align: middle;
display: inline-block
}

.theme-4 .apsl-icon-block.icon-twitter {
    background: #23b0e6 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    line-height: 22px;
    padding: 7px 15px;
    vertical-align: middle;
    display: inline-block
}

.theme-4 .fa.fa-facebook {
    font-size: 19px;
    padding-right: 16px;
    padding-top:2px;
    vertical-align: top;
    display: inline-block
}

.theme-4 .fa.fa-twitter {
    font-size: 19px;
    padding-right: 16px;
    padding-top:2px;
    vertical-align: top;
    display: inline-block
}

.theme-4 .apsl-icon-block.icon-google {
    background: #dc4b38 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    line-height: 22px;
    padding: 7px 15px;
    vertical-align: top;
    display: inline-block
}

.theme-4 .fa.fa-google {
    font-size: 19px;
    padding-right: 16px;
    padding-top:2px;
    vertical-align: middle;
    display: inline-block
}

.apsl-icon-block {
   display: inline-block;
   margin-right: 10px;

}

span.apsl-login-new-text{ 
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 15px
}

#loginform a{
  display: inline-block;
}

.apsl-error{
  font-size: 13px;
  color:red;
  margin-bottom: 10px;
  display: block;
}

.apsl-icon-block:before{ display:none !important}